<h2 class="approveTimeOffTitle">Approve Time Off</h2>
<div class="form-group">
    <label for="startTimeoffDate" class="approveInfo">Start Date:</label>
</div>
<div class="form-group approveInfo">
    <label for="startTimeoffDate" class="approveInfo">End Date:</label>
</div>
<div class="form-group approveInfo">
    <label for="pto" class="approveInfo">Hours of Requested Paid Time Off: </label>
</div>
<button class="grey darken-2 btn btn-primary approveBtn" type="submit">Approve</button>
<button class="grey darken-2 btn btn-primary denyBrn" type="submit">Deny</button>
