<div class="col-5 timeOff">
                <h1 class="mainDisplayTitle">Benefits</h1>
                <ul>
                    <li>
                        Retirement Plan
                    </li>
                    <li>
                        Dental Plan
                    </li>
                    <li>
                        Health Plan
                    </li>
                    <li>
                        Remaining Hours of Paid-Time Off: 
                    </li>
                </ul>
            </div>