<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>HR Management System</title>
</head>

<body>
    <header class="col s12">
        <nav class="row nav">
            <div class="col s4">
                <figure id="comanylogo">
                    <img  src="public\images\dundermifflinlogo.png" alt="company banner"/>
                </figure>
            </div>
            <div class="col s4 hide">
                
            </div>            
            <div class="col s4 sideNavLinks">
                Date & Time
            </div>
            <div class="col s4 sideNavLinks">
                Please Login
            </div>

            <button type="button" class="col s1 btn btn-primary hide">Login</button>
        </nav>
    </header>
    <div class="row mainContainer">
        <aside class="col s3">
            <nav class="">
                <ul class="">
                    <li class="sideNavLinks">
                        Benefits
                    </li>
                    <li class="sideNavLinks">
                        Request Time Off
                    </li>
                    <li class="sideNavLinks hide">
                        Accept Time Off
                    </li>
                    <li class="sideNavLinks">
                        401k Account
                    </li>
                    <li class="sideNavLinks">
                        Employee Handbook
                    </li>
                    <li class="sideNavLinks">
                        View All Employees
                    </li>
                </ul>
            </nav>
        </aside>

        <main class="col s9 mainDisplay">
        {{{ body }}}
        </main>
  </div>
</body>
</html>
