<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>HR Management System</title>
</head>

<body class="grey darken-2">
    <header class="col l12 indigo darken-4">
        <nav class="">
        <div class="topNavBar nav-wrapper indigo darken-4 topNavDiv">
            <img class="brand-logo" src="\images\dundermifflinlogo.png" alt="company banner"/>
            <div id="date" class="dateTime topNavLinks">
                Date & Time
            </div>
            <div>
                <!-- Conditionally render login or logout links -->
                {{#if loggedIn}}
                <a href="/">Profile</a>
                <button class="grey darken-2 btn btn-primary" id="logout">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </div>
        </div>
        </nav>
    </header>
    <main class="container sideAndMain">
        {{#if loggedIn}}
        <aside id="sideNavBar" class="indigo darken-4">
            <a class="sideNavLinks" href="/benefits">Benefits</a>
            <a class="sideNavLinks" href="/timeOff">Request Time Off</a>
            <a class="sideNavLinks" href="/viewAllEmployees">View All Employees</a>
        {{!-- render HR Page / BM Page / Executive Page based on priviledge --}}
        {{#if loggedIn}}
            <a class="sideNavLinks" href="/HRProfile"></a>
        {{/if}}

        </aside>
        {{/if}}
        <section class="mainDisplay indigo darken-4">
        {{{ body }}}
        </section>
  </main>
  
  <script type="text/javascript" src="/JS/main.js"></script>
  <script type="text/javascript" src="/JS/logout.js"></script>
  <script type="text/javascript" src="/JS/materialize.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
