<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>HR Management System</title>
</head>

<body>
  <header class="col-11">
    <nav class="row nav">
        <div class="col-4">
            <figure id="comanylogo">
                <img  src="/images/dundermifflinlogo.png" alt="company banner"/>
            </figure>
        </div>
        <div class="hide">
            Hello, please login 
        </div>
        <div class="">
            Please Login
        </div>
        <div class="">
            Date & Time
        </div>
        <button type="button" class="hide">Login</button>
    </nav>
  </header>
  <div class="" style="">
    <aside class="">
        <nav class="">
            <ul class="">
                <li class="sideNavLinks">
                    Benefits
                </li>
                <li class="sideNavLinks">
                    Request Time Off
                </li>
                <li class="sideNavLinks hide">
                    Accept Time Off
                </li>
                <li class="sideNavLinks">
                    401k Account
                </li>
                <li class="sideNavLinks">
                    Employee Handbook
                </li>
                <li class="sideNavLinks">
                    View All Employees
                </li>
            </ul>
        </nav>
    </aside>
    <main class="mainDisplay">
      {{{ body }}}
    </main>
  </div>
  <footer>
    
  </footer>
</body>

</html>
