<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>HR Management System</title>
</head>

<body>
    <header class="col l12">
        <nav class="col l12">
        <div class="topNavBar nav-wrapper topNavDiv">
            <img class="brand-logo" src="\images\dundermifflinlogo.png" alt="company banner"/>
            <div class="topNavLinks">
                {{dateFormat dateNow format='MMMM Do, YYYY'}}
            </div>
            <div>
                <a class="topNavLinks" href="/">Profile</a>
                {{#if loggedIn}}
                <button class="grey darken-2 btn btn-primary" id="logout">Logout</button>
                {{/if}}
            </div>
        </div>
        </nav>
    </header>
    <main class="container sideAndMain">
        {{#if loggedIn}}
        <aside id="sideNavBar">
            <a class="sideNavLinks" href="/benefits">Benefits</a>
            <a class="sideNavLinks" href="/timeOff">Time Off</a>

        {{!-- render HR Page / BM Page / Executive Page based on priviledge --}}
        {{#ifCond  privilage.privilege_Level 4}}
            <a class="sideNavLinks" href="/allemp">Employees</a>

        {{/ifCond}}

        </aside>
        {{/if}}
        <section class="mainDisplay">
        {{{ body }}}
        </section>
  </main>
  <script type="text/javascript" src="/JS/logout.js"></script>
  <script type="text/javascript" src="/JS/materialize.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

</body>
</html>
