<div class="timeOff">
    <h1 class="mainDisplayTitle">Benefits</h1>
    <ul>
        <li>
            Retirement Plan: {{user.benefit.retirement}}
        </li>
        <li>
            Dental Plan: {{user.benefit.dental}}
        </li>
        <li>
            Health Plan: {{user.benefit.health}}
        </li>
        <li>
            Yearly Hours of Paid Time-Off: {{user.benefit.paidTO}}
        </li>
    </ul>
</div>