{{!-- !!Nothing Is Nested Properly Yet!! --}}



            {{!-- Employee Search Div --}}

{{!-- Search Bar --}}
<nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">Search Employee By Name: Last Name, First Name</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

{{!-- Search By Branch Dropdown --}}
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>View Employee By Branch</option>
      <option value="1">Branch 1</option>
      <option value="2">Branch 2</option>
      <option value="3">Branch 3</option>
    </select>
    <label>Materialize Select</label>
  </div>

{{!-- Option 2 --}}
{{!-- <label>Browser Select</label>
  <select class="browser-default">
    <option value="" disabled selected>View Employee By Branch</option>
    <option value="1">Branch 1</option>
    <option value="2">Branch 2</option>
    <option value="3">Branch 3</option>
  </select> --}}

  
  
              {{!-- Create Employee Div --}}


{{!-- Name Input --}}
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">First Name</label>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Last Name</label>
        </div>
      </div>
    </form>
  </div>   

{{!-- Company Role Dropdown--}}
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Company Role</option>
      <option value="1">Secretary</option>
      <option value="2">Sales</option>
      <option value="3">Warehouse</option>
      <option value="4">Accountant</option>
      <option value="5">Human Resources</option>
      <option value="6">Branch Manager</option>
      <option value="7">Chied Executive Officer</option>
    </select>
    <label>Materialize Select</label>
  </div>

{{!-- Privilege Level Dropdown --}}
<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Privilege Level</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <label>Materialize Select</label>
  </div>

{{!-- Branch Dropdown--}}
<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Branch</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <label>Materialize Select</label>
  </div>

{{!-- Employee ID Input --}}
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Employee ID</label>
        </div>
      </div>
    </form>
  </div>

{{!-- Benefit Package Dropdown --}}
<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Benefit Package</option>
      <option value="1">Package 1</option>
      <option value="2">Package 2</option>
      <option value="3">Package 3</option>
    </select>
    <label>Materialize Select</label>
  </div>


