<section class="loginDiv">
  <h2 class="loginTitle">Login to View Your Profile</h2>
  <form class="form login-form">
    <div class="form-group">
      <label for="email-login">Email:</label>
      <input class="form-input loginInput" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login">Password:</label>
      <input class="form-input loginInput" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="grey darken-2 btn btn-primary loginBtn" type="submit">Login</button>
    </div>
</form>
</section>
<script src="./js/login.js"></script>
