<div class="col l4"></div>
    <div class="row align-center col l4">
      <!-- Render user-specific data with Handlebars.js expressions -->
      <h2 class="sideNavLinks">Welcome, {{user.first_Name + " " + user.last_Name}}!</h2>
    </div>
</div>
<script src="/public/JS/profile.js"></script>