<h2 class="profilePageTitle">Request Time Off</h2>
<div class="form-group">
    <label for="startTimeoffDate sideNavLinks">Start Date:</label>
</div>
<div class="form-group profilePageInfo">
    <label for="startTimeoffDate" class="sideNavLinks">End Date:</label>
    <input class="form-date sideNavLinks" type="date" id="endTimeoffDate" />
</div>
<div class="form-group profilePageInfo">
    <label for="pto" class="sideNavLinks">Hours of Requested Paid Time Off (Vacation)</label>
    <input class="form-select sideNavLinks" type="select" id="endTimeoffDate" />
</div>
<div class="form-group profilePageInfo">
    <label for="pto" class="sideNavLinks">Hours of Requested Sick Time Off</label>
    <input class="form-select sideNavLinks" type="select" id="endTimeoffDate" />
</div>