<h2 class="requestTimeOffSection">Request Time Off</h2>
<div class="form-group profilePageInfo">
    <label for="startTimeoffDate" class="sideNavLinks">Select Start Date:</label>
    <input class="form-input sideNavLinks" type="date" id="startTimeoffDate" />
</div>
<div class="form-group profilePageInfo" class="sideNavLinks">
    <label for="startTimeoffDate" class="sideNavLinks">Select End Date:</label>
    <input class="form-date sideNavLinks" type="date" id="endTimeoffDate" />
</div>
<div class="form-group profilePageInfo">
    <label for="pto" class="sideNavLinks">Enter total hours of requested Paid Time Off</label>
    <input class="form-select sideNavLinks" type="select" id="hoursUsed" />
</div>
<button name="" type="submit">Submit to Michael Scott</button>
<button name="" type="submit">Submit to Josh Porter</button>