<section class="requestTimeOffSection">
    <h2 class="profilePageTitle">Request Time Off</h2>
    <div class="form-group">
        <label for="startTimeoffDate profilePageInfo">Select Start Date:</label>
        <input class="form-input pageTitle" type="date" id="startTimeoffDate" />
    </div>
    <div class="form-group profilePageInfo">
        <label for="startTimeoffDate">Select End Date:</label>
        <input class="form-date pageTitle" type="date" id="endTimeoffDate" />
    </div>
    <div class="form-group profilePageInfo">
        <label for="pto">Select hours of requested Paid Time Off (Vacation)</label>
        <input class="form-select pageTitle" type="select" id="endTimeoffDate" />
    </div>
    <div class="form-group profilePageInfo">
        <label for="pto">Select hours of requested Sick Time Off</label>
        <input class="form-select pageTitle" type="select" id="endTimeoffDate" />
    </div>
    <div class="form-group profilePageInfo">
        <label for="pto">Search Manager</label>
        <input class="form-search pageTitle" type="search" id="searchManager" />
        <div class="form-group profilePageInfo">
            <label for="pto">Select Manager</label>
            <input class="form-select pageTitle" type="select" id="endTimeoffDate" />
        </div>
    </div>
    <div class="form-group profilePageInfo">
        <button class="grey darken-2 btn btn-primary loginBtn" type="submit">Submit</button>
      </div>
    </form>
</section>