@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@621&display=swap');

html {
    background-image: url("/images/paper-background.jpg");
    background-size: 100% 100%;
}

.hide {
    display: none;
    visibility: hidden;
}

header {
    padding: 1%;
    margin: 10px 10px;
    height: 150px;
    background-image: radial-gradient(circle, #CBD2F1, #9BA6DA, #606DAB);
}

.topNavBar {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0% 5%;
    background-image: radial-gradient(circle, #CBD2F1, #9BA6DA, #606DAB);
}

.brand-logo {
    flex: 1 0 auto;
}

.sideAndMain {
    width: 100%;
    display: flex;
}

.mainDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    margin: 10px 10px;
    background-image: radial-gradient(circle, #CBD2F1, #9BA6DA, #606DAB);
}

aside {
    margin: 10px 10px;
    padding: 50px 10px;
    background-image: radial-gradient(circle, #CBD2F1, #9BA6DA, #606DAB);
}

#sideNavBar {
    display: flex;
    flex-direction: column;
}

.topNavDiv {
    align-self: flex-start;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.sideNavLinks {
    list-style-type: none;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    color: white;
}

.profilePageTitleDiv {
    align-self:baseline;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.profilePageTitle {
    color: white;
    font-size:large;
    margin: 0px 20px;
}

.profilePageInfoDiv {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px white solid;
    width: fit-content;
}

.profilePageInfo {
    color: white;
    font-size:x-large;
    margin: 0px 20px;
}

.requestTimeOffSection {
    border: 2px white solid;
}

/* login page */

.loginDiv {
    margin: 5%;
    align-self: center;
}

.loginTitle {
    color: white;
    font-size:xx-large;
}

.loginInput {
    color: white;
    font-size:x-large;
}

