@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@621&display=swap');

.hide {
    display: none;
    visibility: hidden;
}

header {
    padding: 1%;
    margin: 10px 10px;
    height: 150px;
}

.topNavBar {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0% 5%;
}

.brand-logo {
    flex: 1 0 auto;
}

.sideAndMain {
    width: 100%;
    display: flex;
}

.mainDisplay {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    margin: 10px 10px;
}

aside {
    margin: 10px 10px;
    padding: 50px 10px;
}

.sideNav {
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}

.topNavDiv {
    align-self: flex-start;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.sideNavLinks {
    list-style-type: none;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    padding: 5px 10px;
}

.profilePageTitleDiv {
    display: flex;
    flex-wrap: wrap;
}

.profilePageTitle {
    color: white;
    font-size:xx-large;
    margin: 0px 20px;
}

.profilePageInfoDiv {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px white solid;
}

.profilePageInfo {
    color: white;
    font-size:x-large;
    margin: 0px 20px;
}

.requestTimeOffSection {
    border: 2px white solid;
}

/* login page */

.loginDiv {
    margin: 5%;
    align-self: center;
}

.loginTitle {
    color: white;
    font-size:xx-large;
}

.loginInput {
    color: white;
    font-size:x-large;
}



