@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

html {
    background-image: url("/images/paper-background.jpg");
    background-size: 100% 100%;
}

.hide {
    display: none;
    visibility: hidden;
}

header {
    padding: 1%;
    margin: 10px 10px;
    height: 150px;
    background-image: radial-gradient(circle, #BDBDBD, #969595, #756F6F);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.topNavBar {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0% 5%;
    background-image: radial-gradient(circle, #BDBDBD, #969595, #756F6F);
}

.topNavLinks {
    color: black;
}

.brand-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sideAndMain {
    width: 100%;
    display: flex;
}

.mainDisplay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin: 10px 10px;
    width: 100%;
    background-image: radial-gradient(circle, #BDBDBD, #969595, #756F6F);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 5% 0%;
}

.benefitsTitle {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
}

aside {
    margin: 10px 10px;
    padding: 50px 10px;
    background-image: radial-gradient(circle, #BDBDBD, #969595, #756F6F);
    border-radius: 10px;
}

#sideNavBar {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100vh;
}

.topNavDiv {
    align-self: flex-start;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.sideNavLinks {
    list-style-type: none;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding: 20px 10px;
    color: black;
    text-align: justify;
}

#benefitslinks {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.benefitslinks {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.benefitslinks:hover {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    color: black;
    background-image: radial-gradient(circle, #BDBDBD, #969595, #756F6F);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
}

.profilePageTitleDiv {
    align-self:baseline;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.profilePageTitle {
    color: black;
    font-size:xx-large;
    margin: 0px 20px;
}

.profilePageInfoDiv {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: fit-content;
}

.profilePageInfo {
    color: black;
    font-size:x-large;
    margin: 7% 0% 0% 5%;
}

/* login page */

.loginDiv {
    margin: 5%;
    align-self: center;
    font-family: 'Inter', sans-serif;
}

.loginTitle {
    font-family: 'Inter', sans-serif;
    color: black;
    font-size:xx-large;
}

.loginInput {
    font-family: 'Inter', sans-serif;
    color: black;
    font-size:x-large;
}

label {
    color: black;
    font-size: medium;
}
.container {
    margin: 0%;
}

.benefits {
    text-align: center;
}

.requestForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7%;
}

.approveTimeOffTitle {
    margin-top: 10%;
}

.approveInfo {
        font-family: 'Inter', sans-serif;
        font-size: 25px;
        color: black;
        padding: 10px;
}

.approveBtn {
    margin: 15px;
}

.denyBtn {
    margin: 15px;
}